<ion-view view-title="Confirmation">
  <ion-content>
    <h1>Confirmation</h1>
    <h2>Introductees</h2>
    <ul>
      <li ng-repeat="introductee in introductees">
        {{ introductee.name }}
      </li>
    </ul>
    <h2>Message</h2>
    <div class="message card">
      <div class="item item-text-wrap">
        {{ message }}
      </div>
    </div>
  </ion-content>
  <a ng-click="sendIntroduction()">
    <div class="bar bar-footer bar-balanced">
        <div class="title">Send Introduction</div>
    </div>
  </a>
</ion-view>
