<ion-view view-title="Confirmation" class="confirmation-container">
  <ion-content>
    <div class="introductees-container">
      <ul class="introductees">
        <li class="introductee" ng-repeat="contact in introductees" ng-click="removeContact(contact)">
          <i class="icon ion-person"></i>
          <p class="initials">{{ contact.name }}</p>
          <!--<p class="initials">LW</p>-->
        </li>
      </ul>
    </div>
    <div class="message card">
      <div class="item item-text-wrap">
        {{ message }}
      </div>
    </div>
  </ion-content>
  <a ng-click="sendIntroduction()">
    <div class="bar bar-footer bar-balanced">
        <div class="title">Send Introduction</div>
    </div>
  </a>
</ion-view>
