<ion-view view-title="ContactsList" class="contacts-list-container">
  <ion-content>
    <ion-list class="introductees">
      <ion-item class="introductee" ng-repeat="contact in introductees" ng-click="removeContact(contact)">
        <p>{{ contact.name }}</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item ng-repeat="contact in contacts" ng-class="{ 'grey-out': contact.isSelected }"ng-click="addContact(contact)">
        <p>{{ contact.name }}</p>
        <p>{{ contact.phone }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
