<ion-view view-title="Select Contact" class="contacts-list-container">
  <ion-content>
    <div class="instruction" ng-show="!introductees.length">
      <p>Select the friends you'd like to connect</p>
    </div>
    <div class="introductees-container">
      <ul class="introductees">
        <li class="introductee" ng-repeat="contact in introductees" ng-click="removeContact(contact)">
          <p>{{ contact.name }}</p>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <ion-list class="contacts">
      <ion-item ng-repeat="contact in contacts | orderBy:'name'" ng-class="{ 'grey-out': contact.isSelected }" ng-click="addContact(contact)">
        <p>{{ contact.name }}</p>
        <p>{{ contact.phone }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <a href="#/app/messages">
    <div class="bar bar-footer bar-balanced">
        <div class="title">Add Message</div>
    </div>
  </a>
</ion-view>
