<ion-view view-title="Privacy Policy">
  <ion-content>
    <h2>Provide info about the personally identifiable information (PII) like:</h2>

    <ul>
      <li>a description of the types of PII collected and disclosed by the operator;</li>
      <li>a description of the process by which a consumer can access and request changes to his or her PII, if available;</li>
      <li>a description of the process by which the operator will notify consumers of material changes to the privacy policy; and</li>
      <li>an effective date</li>
    </ul>

    <h2>EU Privacy Directives minimum requirements:</h2>

    <p>Provide a readable, understandable and easily accessible privacy policy, which at a minimum informs users about:</p>

    <ul>
      <li>who you are (identity and contact details),</li>
      <li>what precise categories of personal data the app wants to collect and process,</li>
      <li>why the data processing is necessary (for what precise purposes),</li>
      <li>whether data will be disclosed to third parties (not just a generic but a specific</li>
      <li>description to whom the data will be disclosed),</li>
      <li>what rights users have, in terms of withdrawal of consent and deletion of data</li>
    </ul>
  </ion-content>
</ion-view>
